/* Main.css, feel free to modify! */

html {
    background-color: white;
}

h1 {
    font-family: Arial;
    color: black;
    size: 32px;
}

input {
    font-family: Arial;
    color: blue;
}

p {
    font-family: Arial;
    color: black;
    font-size: 12px;
}

a {
    font-family: Arial;
    font-size: 12px;
    color: blue;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#h1_white { /* oops. */
    color: blue;
}

#button {
    background-color: transparent;
    border: transparent;
}