h1 {
    font-family: monospace;
    font-size: 22px;
}

h2 {
    font-family: monospace;
    font-size: 18px;
}

p {
    font-family: monospace;
    font-size: 12px;
}

a {
    font-family: monospace;
    font-size: 14px;
    color: blue;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }